<form action=answer method="get" class="form">
  <div class="form">
    <label for="question">Ask your coach: </label>
    <input type="text" name="ask" id="ask" required>
  </div>
  <div class="form">
    <input type="submit" value="ask your coach!">
  </div>
</form>
